.flexheader {
    display: flex;
    border-radius: 9px 9px 9px 9px;
    flex-direction: row;
    height: 60px;
    /* background: #FFFFFF; */
    margin-top: 10px;
    border: 0px solid #EAEBED;
    align-items: center;
}


.flexheader.ocean {
    background: #FFFFFF;
}

.flexheader.violet {
    background: #5a189a;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 40%;
    width: 141px;
    height: 36px;
    padding: 10px;
    padding-left: 55px;

}

@media (max-width:950px) {
    .logo {
        justify-content: center;
        padding-left: 5px;
    }
}


.logoname {
    display: flex;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    flex: 1 1 20%;
}

.switchlogin {
    display: flex;
    flex: 0.1 1 5%;
}

@media (max-width:750px) {
    .switchlogin {
        justify-content: center;
        flex: 1 1 33%;
    }
}

.switchlogup {
    display: flex;
    flex: 0.4 1 5%;
}

@media (max-width:750px) {
    .switchlogup {
        justify-content: center;
        flex: 1 1 33%;
    }
}

.active {
    color: #5E96FC
}